.active{
    background-color:black;
}
.card{
  align-items: center;
  box-align: center;
  min-height: 200px;
  max-width: 18rem;
}
div{
  align-items: center; 
}
body{
  align-items: center;
}
.navbar-brand,icon{
  color: black;
}
.navbar-custom {
    color: #FFFFFF;
    background-color:lightblue;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}