<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Enrollment No</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
         <th scope="col">Birthday</th>
        <th scope="col">Department</th>
        <th scope="col">Branch</th>
         <th scope="col">Result</th>
         <th scope="col">Fees</th>
        <th scope="col">Manage</th>
         <th scope="col">Manage</th>


      </tr>
    </thead>
    <tbody *ngFor="let s of Repdata;let id = index">
      <tr>
       
        <td scope="row"[title]="s.Enrollment_No"  [routerLink] = "['/student',id]">{{s.Enrollment_No|uppercase}}</td>
        <td scope="row" [title]="s.Name" [routerLink] = "['/student',id]">{{s.Name|uppercase}}</td>
        <td ><a >{{s.Age}}</a></td>
        <td >{{s.Birth_Date| date}}</td>
        <td>{{s.Department}}</td>
        <td >{{s.Branch}}</td>
        <td >{{s.Result}} CGPA</td>
        <td>{{s.Fees|currency:"INR"}}</td>
        <td>
            <button class="btn btn-primary"  [routerLink]="['/update/',s._id]">Edit</button></td>
      <td>   <button class="btn btn-primary"  (click)="removeEmployee(s._id)">Delete</button></td> 
      </tr>
    </tbody>
  </table> -->
  
  <!-- <span  class=" flex-cont" *ngFor="let s of Repdata;let id = index">
<div class="card  middle" >
      <div class="top-section">
        <img src="https://i.ytimg.com/vi/nYUm1lPfjDk/maxresdefault.jpg" alt="">
        <div class="menuicon">
          <span class="s1"></span>
          <span class="s2"></span>
        </div>
        <div class="name">
           <br>
          <span>{{s.Enrollment_No|uppercase}}</span>
        </div>
      </div>

      <div class="info-section">
        <h2>Name
          <div class="border"></div>
        </h2>
        {{s.Name|uppercase}}
        <h2>Age
          <div class="border"></div>
        </h2>
        {{s.Age}}

		<h2>Birth_Date
          <div class="border"></div>
        </h2>
        {{s.Birth_Date|date}}
		<h2>Department
          <div class="border"></div>
        </h2>
        {{s.Department}}
		<h2>Branch
          <div class="border"></div>
        </h2>
        {{s.Branch}}
		<h2>Result
          <div class="border"></div>
        </h2>
        {{s.Result}} CGPA
		<h2>Fees
          <div class="border"></div>
        </h2>
        {{s.Fees|currency:"INR"}}
        <div class="s-m">
          <button class="btn btn-unique"(click)="insert()">Insert</button>
          <button class="btn btn-unique" [routerLink]="['/update/',s._id]">Edit</button>
          <button class="btn btn-unique"(click)="removeEmployee(s._id)">Delete</button>
          
        </div>
      </div>
    </div>
  </span> -->

  <!-- Birth_Date":null,"Department":null,"Branch":null,"Result":null,"Fees":null (click)="edituser(s._id)"  -->