thead{
    background-color: darkred;
    color: darkseagreen;
}
tbody{
    background-color: deepskyblue;
    color: black;
    padding: 100em;
}
.border{
    border-radius: 2px;
}
.table-striped{
    background-color: orchid;
}
td{
    font-size: 20px;
    text-align: center;
}
th{
    font-size: 20px;
    text-align: center;
}
a{
    color: cornsilk;
}
/* .hello{
  margin: 0;
  padding:0;
  left: 2;
  background: lightcoral;
} */
.card{
  width: 340px;
  background: #f1f1f1;
  left: 2%;
  right: 2%;
  font-family: "montserrat",sans-serif;
  box-shadow: 0 0 20px #00000070;
}
/* .middle{
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-50%,-50%);
} */
.top-section{
  position:relative
}
.top-section img{
  width: 100%;
}
.menuicon{
  position: absolute;
  width: 22px;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.menuicon span{
  width: 100%;
  height: 3px;
  background: #000;
  position: relative;
  display: block;
  margin-bottom: 6px;
  opacity: .5;
  transition: .4s;
}
.menuicon .s1{
  left: -5px;
}
.menuicon .s2{
  left: 5px;
}
.menuicon:hover span{
  left: 0;
}
.name{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  font-weight: 900;
  opacity: 1;
  color: white;
}
.name span{
  text-transform: uppercase;
  font-weight: 600;
}

.info-section{
  padding: 20px;
  padding-top: 5;
  color:orange;
}
h2{
  position:relative;
  font-size: 16px;
  color: blue;
}
.border{
  width: 30px;
  height: 3px;
  background: #778beb;
  position: absolute;
  left: 0;
  bottom: -6px;
}
p{
  text-align: justify;
  font-size: 14px;
}

.s-m{
  text-align: center;
  margin-top: 10px;
}
.s-m a{
  text-decoration: none;
  font-size: 10px;
  color: #333;
  padding: 0 5px;
  transition: .4s;
}
.s-m a:hover{
  color: #778beb;
}

span{
  left: 10;
  right: 0;
}
.flex-cont {
  right: 10;
  flex:1;
}
.cards {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: left;
	justify-content: left;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  background: #f1f1f1;
  left: 2%;
  right: 2%;
  font-family: "montserrat",sans-serif;
  box-shadow: 0 0 20px #00000070;

}

